<h2>Criação de PID</h2>
<form method="post" action="/projeto_pid_rid/newpid">
    <div class="row">
        <div class="col-md-8">
            <label for="semestre" class="form-label">Semestre letivo</label>
            <input type="text" class="form-control" id="semestre" name="semestre" placeholder="Digite o semestre do ano..." required/>
        </div>
    </div>

    <div id="atividades-container" class="mt-3">
        <div class="row">
            <div class="col-md-8">
                <label for="atividade" class="form-label">Atividade</label>
                <input type="text" class="form-control" id="atividade" name="atividades[]" placeholder="Digite a atividade..." required/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <label for="ch-1" class="form-label">Carga Horária</label>
                <input type="number" class="form-control" id="ch" name="carga_horaria[]" placeholder="Digite a carga horária..." required/>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-secondary mt-3" id="add-atividade-btn">
        + Adicionar Atividade
    </button>

    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

<script>
    document.getElementById('add-atividade-btn').addEventListener('click', function() {
        const newAtividadeDiv = document.createElement('div');
        newAtividadeDiv.classList.add('mt-3');
        newAtividadeDiv.innerHTML = `
        <div class="row">
            <div class="col-md-8">
                <label for="atividade" class="form-label">Atividade</label>
                <input type="text" class="form-control" id="atividade" name="atividades[]" placeholder="Digite a atividade..." required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label for="ch" class="form-label">Carga Horária</label>
                <input type="number" class="form-control" id="ch" name="carga_horaria[]" placeholder="Digite a carga horária..." required/>
            </div>
        </div>
        `;
        
        document.getElementById('atividades-container').appendChild(newAtividadeDiv);
    });
</script>
