<h1 style="text-align: center">Login</h1>
<div class="form-group">
    <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" placeholder="Usuário">
    <input type="password" class="form-control" id="senha" aria-describedby="emailHelp" placeholder="Senha">
    <a href="cadastro.hbs">Não tem login?! Cadastre-se!</a>
</div>
